// 全体
body {
    background-color: #e6eae3; // 灰黄緑 https://www.colordic.org/colorscheme/2364
    color: #323331;
}

.current {
    background-color: #d0ebbc;
}
.updated {
    text-align: right;
    font-style: italic;
    font-size: small;
}
.updated.article {
    text-align: left;
    font-style: italic;
    font-size: small;
}
.header {
    font-size: 20pt;
    border-bottom-width: 1px;
    border-bottom-color: black;
    border-bottom-style: solid;
    margin-bottom: 5px;
}
.footer {
    border-top-width: 1px;
    border-top-color: black;
    border-top-style: solid;
    margin-top: 20px;
}
a.simple_link {
    text-decoration: none;
    color: black;
}

// /it/other/quote.md などで利用
.quote-updated {
    text-align: right;
    margin-bottom: 25px;
    margin-top: -10px;
    margin-right: 40px;
}

table, tr, th, td {
    border: 1px solid black;
}

code {
    color: darkgreen;
    font-weight: bold;
}

.code {
    white-space: pre-wrap;
    margin: 1em 0 1em 0;
    border: 1px solid #ccc;
    //border-radius: 0px 2px 2px 2px;
    padding: 5px;
    background-color: #f6f6f6;
    overflow: auto;
    font-family: Consolas, 'Meiryo UI', 'Courier New', Monaco, monospace;
    //font-size: 10.5pt;
    em {
        font-style: normal;
        color: #f88;
    }
    em.blue {
        font-style: normal;
        color: #88f;
    }
    //cm {
    //    color: #888;
    //}
}

.copyright {
    text-align: left;
}

// 参考: https://saruwakakun.com/html-css/reference/blockquote
blockquote {
    position: relative;
    padding: 10px 20px;
    box-sizing: border-box;
    font-style: italic;
    color: #323331;
    background: #d5d8d1;
    p {
        position: relative;
        padding: 0;
        margin: 10px 0;
        z-index: 3;
        line-height: 1.7;
    }
    cite {
        position: relative;
        z-index: 3;
        display: block;
        text-align: right;
        color: #323331;
        font-size: 0.9em;
    }
}
blockquote:before {
    display: inline-block;
    position: absolute;
    top: 7px;
    left: 10px;
    content: "\f10d";
    //font-family: FontAwesome;
    font-family: "Font Awesome 5 Free";
    color: #e6eae3;
    font-size: 40px;
    line-height: 1;
    font-weight: 900;
}
blockquote:after {
    display: inline-block;
    position: absolute;
    bottom: 5px;
    right: 15px;
    text-align: center;
    content: "\f10e";
    //font-family: FontAwesome;
    font-family: "Font Awesome 5 Free";
    color: #e6eae3;
    font-size: 40px;
    line-height: 1;
    font-weight: 900;
}
