// 色サンプル: https://www.color-sample.com/

// 全体
body {
    background-color: #e6eae3; // 灰黄緑 https://www.colordic.org/colorscheme/2364
    color: #323331;
}

.current {
    background-color: #d0ebbc;
}
.updated {
    text-align: right;
    font-style: italic;
    font-size: small;
}
.updated.article {
    text-align: left;
    font-style: italic;
    font-size: small;
}
.header {
    font-size: 24pt;
    border-bottom-width: 1px;
    border-bottom-color: black;
    border-bottom-style: solid;
    margin-bottom: 5px;

    // タイトルをFlexBox指定
    display: flex;
    justify-content: space-between;

    // Googleカスタム検索のスタイルを修正
    .gsc-control-cse {
        padding: 0;
        border: 0;
        background-color: transparent;

        form {
            &.gsc-search-box {
                width: 105%; // Googleの文字が見切れるので 100%→105%へ
            }
        }   
        table {
            &.gsc-search-box {
                margin-bottom: -4px;
                td {
                    border: 0;
                    &.gsc-input {
                        font-size: 16px;
                        padding-right: 0;
                    }
                }
            }
        }
    }
}

.footer {
    border-top-width: 1px;
    border-top-color: black;
    border-top-style: solid;
    margin-top: 20px;
}
a.simple_link {
    text-decoration: none;
    color: black;
}

div.goto-pagetop {
    text-align: right;
}

// /it/other/quote.md などで利用
.quote-updated {
    text-align: right;
    margin-top: -10px;
    margin-right: 40px;
}

.chapter-updated {
    text-align: right;
    margin-bottom: 25px;
    margin-top: -45px;
}

code {
    color: darkgreen;
    font-weight: bold;
}

@mixin make-code-pre($preColor, $preBackgroundColor, $emColor, $emColorBlue, $emColorComment, $emColorCommand) {
    pre {
        margin: 0; 
        padding: 0;
        white-space: pre-wrap;
        color: $preColor;
        background-color: $preBackgroundColor;
        overflow: auto;
        font-family: Consolas, 'Meiryo UI', 'Courier New', Monaco, monospace;
        em {
            font-style: normal;
            color: $emColor;
            &.blue {
                font-style: normal;
                color: $emColorBlue;
            }
            &.comment {
                font-style: normal;
                color: $emColorComment;
            }
            &.command {
                font-style: normal;
                color: $emColorCommand;
            }
        }
    }
}

// コードPRE(通常用)
.code-box {
    // タイトル付きのスタイル
    position: relative;
    margin: 1em 0;
    padding: 22px 10px 7px;
    border: solid 1px #ccc;
    color: inherit;
    background-color: #f6f6f6;
    // タイトルがない場合のスタイル
    &.no-title {
        padding: 8px 10px 7px;
    }
    .title {
        position: absolute;
        display: inline-block;
        top: -2px;
        left: -2px;
        padding: 0 9px;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
        color: #ffffff;
        background-color: #777;
        border: 1px solid #ccc;
    }
    @include make-code-pre(
        $preColor: inherit,
        $preBackgroundColor: #f6f6f6,
        $emColor:#ff0078,
        $emColorBlue: #4c43da,
        $emColorComment: #00bc42,
        $emColorCommand: #909090
    )
}

// コードPRE(構文、定義用)
.code-box-syntax {
    // タイトル付きのスタイル
    position: relative;
    margin: 1em 0;
    padding: 22px 10px 7px;
    border: solid 1px #ccc;
    color: inherit;
    background-color: #dbdaf8;
    // タイトルがない場合のスタイル
    &.no-title {
        padding: 8px 10px 7px;
    }
    .title {
        position: absolute;
        display: inline-block;
        top: -2px;
        left: -2px;
        padding: 0 9px;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
        color: #333333;
        background-color: #bebcf7;
        border: 1px solid #ccc;
    }
    @include make-code-pre(
        $preColor: inherit,
        $preBackgroundColor: #dbdaf8,
        $emColor: #ff0b0b,
        $emColorBlue: #0084dc,
        $emColorComment: #4abd4f,
        $emColorCommand: #909090
    )
}

// コードPRE(入力用)
.code-box-input {
    // タイトル付きのスタイル
    position: relative;
    margin: 1em 0;
    padding: 22px 10px 7px;
    border: solid 1px #ccc;
    color: inherit;
    background-color: #fff4ca;
    // タイトルがない場合のスタイル
    &.no-title {
        padding: 8px 10px 7px;
    }
    .title {
        position: absolute;
        display: inline-block;
        top: -2px;
        left: -2px;
        padding: 0 9px;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
        color: #777;
        background-color: #ffe77e;
        border: 1px solid rgb(231, 231, 231);
    }
    @include make-code-pre(
        $preColor: inherit,
        $preBackgroundColor: #fff4ca,
        $emColor: #ff0b0b,
        $emColorBlue: #0084dc,
        $emColorComment: #4caf50,
        $emColorCommand: #909090
    )
}

// コードPRE(出力用)
.code-box-output {
    // タイトル付きのスタイル
    position: relative;
    margin: 1em 0;
    padding: 22px 10px 7px;
    border: solid 1px #ccc;
    color: #f6f6f6;
    background-color: #777;
    // タイトルがない場合のスタイル
    &.no-title {
        padding: 8px 10px 7px;
    }
    .title {
        position: absolute;
        display: inline-block;
        top: -2px;
        left: -2px;
        padding: 0 9px;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
        color: #ffffff;
        background-color: #777;
        border: 1px solid rgb(231, 231, 231);
    }
    @include make-code-pre(
        $preColor: #f6f6f6,
        $preBackgroundColor: #777,
        $emColor: rgb(255, 177, 177),
        $emColorBlue: #adf,
        $emColorComment: #ad7,
        $emColorCommand: #c0c0c0
    )
}

.copyright {
    text-align: left;
}

// 参考: https://saruwakakun.com/html-css/reference/blockquote
blockquote {
    position: relative;
    padding: 10px 20px;
    box-sizing: border-box;
    font-style: italic;
    color: #323331;
    background: #d5d8d1;
    p {
        position: relative;
        padding: 0;
        margin: 10px 0;
        z-index: 3;
        line-height: 1.7;
    }
    cite {
        position: relative;
        z-index: 3;
        display: block;
        text-align: right;
        color: #323331;
        font-size: 0.9em;
    }
}
blockquote:before {
    display: inline-block;
    position: absolute;
    top: 7px;
    left: 10px;
    content: "\f10d";
    //font-family: FontAwesome;
    font-family: "Font Awesome 5 Free";
    color: #e6eae3;
    font-size: 40px;
    line-height: 1;
    font-weight: 900;
}
blockquote:after {
    display: inline-block;
    position: absolute;
    bottom: 5px;
    right: 15px;
    text-align: center;
    content: "\f10e";
    //font-family: FontAwesome;
    font-family: "Font Awesome 5 Free";
    color: #e6eae3;
    font-size: 40px;
    line-height: 1;
    font-weight: 900;
}

// 参考: https://saruwakakun.com/html-css/basic/table
//       https://code-kitchen.dev/html/table/
@mixin make-table-style($thBackgroundColor, $tdBackgroundColor) {
    //width: 100%;
    //margin: 0 10px;
    th {
        background: $thBackgroundColor;
    }
    td {
        background:$tdBackgroundColor;
    }
}

table {
    border-collapse: collapse; // テーブル自体には枠なし
    overflow: auto;
    th {
        white-space: nowrap; // 勝手に折り返さない
        border: 1px solid #323331;
        background: inherit;
        padding: 5px;
    }
    td {
        border: 1px solid #323331;
        background: inherit;
        padding: 5px;
    }

    // テーブル標準スタイル(緑)
    &.normal {
        @include make-table-style(
            $thBackgroundColor: #aae5d2,
            $tdBackgroundColor: #f6fff2
        )
    }
}