<dt markdown="span">
<a name="{{ include.title }}">{{ include.title }}</a>
{% if include.category_id == "economy" && include.sub_category_id == "accounting" %}<a class="heading-anchor-permalink" href="{% link _economy_articles/accounting/term.md %}#{{ include.title }}">§</a>{% endif %}
{% if include.category_id == "economy" && include.sub_category_id == "investment" %}<a class="heading-anchor-permalink" href="{% link _economy_articles/investment/term.md %}#{{ include.title }}">§</a>{% endif %}
{% if include.category_id == "it" %}<a class="heading-anchor-permalink" href="{% link _it_articles/other/term.md %}#{{ include.title }}">§</a>{% endif %}
</dt>
