{% if include.description %}
{{ include.description }}
{% endif %}

{% comment %} ----- グループを取得 ----- {% endcomment %}
{% assign sub_category = site.data.economy_sub_category | where: "sub_category_id", include.sub_category_id | first %}
{% assign article_groups = sub_category.article_group %}

{% comment %} ----- 記事リストを取得 ----- {% endcomment %}
{% assign list = site.economy_articles | where: 'category_id', include.category_id
                                       | where: 'sub_category_id', include.sub_category_id
                                       | sort: 'display_order' %}

{% for group in article_groups %}
## {{ group.label }}
<ul>
    {% assign item_in_group = list | where: "article_group_id", group.id %}
    {% for item in item_in_group %}
        <li><a href="{{ item.url }}">{{ item.title }}</a> ({{ item.updated }}更新)</li>
    {% endfor %}
</ul>
{% endfor %}
