{% if include.description %}
{{ include.description }}
{% endif %}

<ul>
    {% assign list = site.economy_articles | where: 'category_id', include.category_id
                                           | where: 'sub_category_id', include.sub_category_id
                                           | sort: 'display_order' %}
    {% for item in list %}
        {% assign filename = item.url | split: '/' | reverse | first %}
        {% if filename != 'index' %}
            <li><a href="{{ item.url }}">{{ item.title }}</a> ({{ item.updated }}更新)</li>
        {% endif %}
    {% endfor %}
</ul>
