<!doctype html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>{{ page.title }} | Think Twice</title>
	<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/styles.css">
	{% include favicon.html %}
	{% include tools/google_analytics.html %}
	{% include tools/google_adsense.html %}
</head>
<body>

<a name="pagetop"></a>

{% include header.html %}
{% include category.html %}

{{content}}

{% include footer.html %}

</body>
</html>
