---
layout: base
---
{% assign category = site.data.category | where: 'name', page.category | first %}
{% assign sub_category = site.data.it.sub_category | where: 'name', page.sub_category | first %}
<div>
    <a href="{{ category.link }}">技術系メモ</a>

    {% assign sub_category_link = sub_category.link | append: 'index' %}
    {% if sub_category_link != page.url %}
    | <a href="{{ sub_category.link }}">{{ sub_category.name }}のメモ</a>
    {% endif %}
</div>

{% include updated.html %}
{% include main_title.html %}

{{content}}