---
layout: base_layout
---
{% assign category = site.data.category | where: 'category_id', page.category_id | first %}
{% assign sub_category = site.data.it_sub_category | where: 'sub_category_id', page.sub_category_id | first %}
<div>
    <a href="{{ category.link }}">技術系メモ</a>

    {% assign sub_category_index_link = sub_category.link | append: 'index' %}
    {% if sub_category_index_link != page.url %}
    | <a href="{{ sub_category.link }}">{{ sub_category.sub_category_label }}のメモ</a>
    {% endif %}
</div>

{% include updated.html %}
{% include tools/ninja_share_button.html %}
{% include main_title.html %}

{{content}}