---
layout: base_layout
---
{% assign category = site.data.category | where: 'category_id', page.category_id | first %}
{% assign sub_category = site.data.reading_sub_category | where: 'sub_category_id', page.sub_category_id | first %}
<div>
    <a href="{{ category.link }}">読書についてのメモ</a>

    {% assign sub_category_index_link = sub_category.link | append: 'index' %}
    {% if sub_category_index_link != page.url %}
    | <a href="{{ sub_category.link }}">{{ sub_category.sub_category_label }}</a>
    {% endif %}
</div>

{% comment %} --- 記事グループありなしで切り分け --- {% endcomment %}
{% assign article_group_size = sub_category.article_group | size %}
{% if article_group_size == 0 %}
    {% include prev_next_navigation.html
        articles = site.reading_articles
        sub_category = sub_category %}
{% else %}
    {% include prev_next_navigation_with_group.html
        articles = site.reading_articles
        sub_category = sub_category %}
{% endif %}

{% include updated.html %}
{% include tools/ninja_share_button.html %}
{% include main_title.html %}

<article class="main">
{{content}}
</article>